Perform Clustering(Hierarchical, Kmeans & DBSCAN) for the crime data and identify the number of clusters formed and draw inferences.

Data Description:

    Murder - Muder rates in different places of United States

    Assualt - Assualt rate in different places of United States

    UrbanPop - Urban population in different places of United States

    Rape - Rape rate in different places of United States

In [2]:
import os
os.environ["OMP_NUM_THREADS"] = "1"
os.environ["NUMEXPR_NUM_THREADS"] = "1" 
os.environ["OMP_NUM_THREADS"] = "1"

In [3]:
# import hierarchical clustering libraries
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sn
from sklearn.cluster import KMeans

In [4]:
CrimeData = pd.read_csv("D:/1.0 Studies/DataScience_Excelr/Assignment9_Clustering/crime_data.csv")
CrimeData.head()

         City  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [14]:
# Normalization function 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_CD = scaler.fit_transform(CrimeData.iloc[:,1:])

In [8]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps=0.8, min_samples=6)
dbscan.fit(scaled_CD)

DBSCAN(eps=0.8, min_samples=6)

In [9]:
#Noisy samples are given the label -1.
dbscan.labels_

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1,  0, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1, -1, -1, -1, -1, -1, -1,
        0,  0, -1,  0, -1, -1, -1, -1, -1, -1, -1,  0, -1, -1, -1,  0],
      dtype=int64)

In [10]:
cl=pd.DataFrame(dbscan.labels_,columns=['cluster'])

In [11]:
cl

    cluster
0        -1
1        -1
2        -1
3        -1
4        -1
5        -1
6        -1
7        -1
8        -1
9        -1
10       -1
11       -1
12       -1
13        0
14       -1
15        0
16       -1
17       -1
18       -1
19       -1
20       -1
21       -1
22       -1
23       -1
24       -1
25       -1
26        0
27       -1
28       -1
29       -1
30       -1
31       -1
32       -1
33       -1
34        0
35        0
36       -1
37        0
38       -1
39       -1
40       -1
41       -1
42       -1
43       -1
44       -1
45        0
46       -1
47       -1
48       -1
49        0

In [12]:
pd.concat([CrimeData,cl],axis=1)

              City  Murder  Assault  UrbanPop  Rape  cluster
0          Alabama    13.2      236        58  21.2       -1
1           Alaska    10.0      263        48  44.5       -1
2          Arizona     8.1      294        80  31.0       -1
3         Arkansas     8.8      190        50  19.5       -1
4       California     9.0      276        91  40.6       -1
5         Colorado     7.9      204        78  38.7       -1
6      Connecticut     3.3      110        77  11.1       -1
7         Delaware     5.9      238        72  15.8       -1
8          Florida    15.4      335        80  31.9       -1
9          Georgia    17.4      211        60  25.8       -1
10          Hawaii     5.3       46        83  20.2       -1
11           Idaho     2.6      120        54  14.2       -1
12        Illinois    10.4      249        83  24.0       -1
13         Indiana     7.2      113        65  21.0        0
14            Iowa     2.2       56        57  11.3       -1
15          Kansas     6.0      115        66  18.0        0
16        Kentucky     9.7      109        52  16.3       -1
17       Louisiana    15.4      249        66  22.2       -1
18           Maine     2.1       83        51   7.8       -1
19        Maryland    11.3      300        67  27.8       -1
20   Massachusetts     4.4      149        85  16.3       -1
21        Michigan    12.1      255        74  35.1       -1
22       Minnesota     2.7       72        66  14.9       -1
23     Mississippi    16.1      259        44  17.1       -1
24        Missouri     9.0      178        70  28.2       -1
25         Montana     6.0      109        53  16.4       -1
26        Nebraska     4.3      102        62  16.5        0
27          Nevada    12.2      252        81  46.0       -1
28   New Hampshire     2.1       57        56   9.5       -1
29      New Jersey     7.4      159        89  18.8       -1
30      New Mexico    11.4      285        70  32.1       -1
31        New York    11.1      254        86  26.1       -1
32  North Carolina    13.0      337        45  16.1       -1
33    North Dakota     0.8       45        44   7.3       -1
34            Ohio     7.3      120        75  21.4        0
35        Oklahoma     6.6      151        68  20.0        0
36          Oregon     4.9      159        67  29.3       -1
37    Pennsylvania     6.3      106        72  14.9        0
38    Rhode Island     3.4      174        87   8.3       -1
39  South Carolina    14.4      279        48  22.5       -1
40    South Dakota     3.8       86        45  12.8       -1
41       Tennessee    13.2      188        59  26.9       -1
42           Texas    12.7      201        80  25.5       -1
43            Utah     3.2      120        80  22.9       -1
44         Vermont     2.2       48        32  11.2       -1
45        Virginia     8.5      156        63  20.7        0
46      Washington     4.0      145        73  26.2       -1
47   West Virginia     5.7       81        39   9.3       -1
48       Wisconsin     2.6       53        66  10.8       -1
49         Wyoming     6.8      161        60  15.6        0

In [18]:
from sklearn.metrics import silhouette_score
sil_score= silhouette_score(scaled_CD, dbscan.labels_)
sil_score

-0.09530675795950011